PORT=5000

# Ligação ao Base de Dados MongoDB Atlas
MONGO_URI=mongodb+srv://<db_user>:<db_password>@cluster.mongodb.net/database_name?retryWrites=true&w=majority

# Credenciais de Email (Nodemailer)
EMAIL_USER=exemplo@gmail.com
EMAIL_PASS=sua_app_password_gerada_no_google

# Configurações do Cloudinary para Upload de Imagens/Avatares
CLOUDINARY_CLOUD_NAME=seu_cloudinary_name
CLOUDINARY_API_KEY=sua_cloudinary_key
CLOUDINARY_API_SECRET=sua_cloudinary_secret

# Segurança da Sessão e Login
JWT_SECRET=sua_chave_jwt_secreta_longa_e_aleatoria
ADMIN_SECRET_CODE=seu_codigo_secreto_para_registro_de_admin

# URL do Frontend (CORS)
FRONTEND_URL=http://localhost:5173

# Chave API do Gemini para Geração de Quizzes
GEMINI_API_KEY=AIzaSy...
